.body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    padding: 0%;
}

.Encbezado{
 position: absolute;
 left: 37%;
 right: 38%;
 top: 0%;
 bottom: 0%;
}

.Ilustracion{
position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;
}