*{
    background: whitesmoke;
    font-family: 'Montserrat', sans-seriff;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.Logo{
    margin-top: 10px;
    margin-left: 8px;
    width: 8%;
}

main{
    display: flex;
    margin-bottom: 15px;
    margin-left: 180px;
}

.Text-area{
    /*background:linear-gradient(#ffffff, #AF3413);*/
    background: rgb(236, 239, 245);
    height: 400px;
    border-radius: 8%;
    border: none;
    text-align: center;
    color: #3413AF;
    margin-top: 15px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder{color: #3413AF;}
    .Cuadro-Texto :focus {
        outline: none;
    }

.Mensaje{
    height: 400px;
    background-image: url(ImagenesChallenge/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    text-align: center;
    color: #3413AF;
    margin-left: 98px;
    margin-top: 15px;
    padding-left: 20px;
    position: fixed;
}

.Mensaje:focus{
    outline: none;
}

.Botones{
    display: flex;
    margin-top: 15px; 
}

.btn-encriptar{
    background-color: #3413AF;
    border: 0.1px solid #3413AF;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    height: 65px;
    width: 300px;
}

.btn-descencriptar{
    background-color: whitesmoke;
    border: 0.1px solid #3413AF;
    border-radius: 20px;
    color: #3413AF;
    cursor: p♪ointer;
    height: 65px;
    margin-left: 30px;
    width: 300px;
}

.btn-copiar{
    border: 0.1px solid #3413AF;
    border-radius: 20px;
    color: #3413AF;
    cursor: pointer;
    height: 65px;
    margin-left: 120px;
    margin-top: 500px;
    position: absolute;
    width: 300px;
}

.Informacion{
    color: #8213AF;
    font-size: 15px;
}

.P-footer{
    text-align: center;
    position: relative;
    font-size: 5px;
    color: #AF1340;
}